.container {
  margin: 0 auto;
  max-width: 1046px;
  padding: 80px 0;
}

@media(width <= 1024px) {
  .container {
    padding: 80px 10px;
  }
}

@media(width <= 480px) {
  .container {
    padding: 38px 10px 80px;
  }
}
